<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <button class="btn btn-light d-flex align-items-center">
      <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: "nav-link" %>
  </button>
  <button class="btn btn-light d-flex align-items-center">
      <%= link_to "Back to tweets", tweets_path, class: "nav-link" %>
  </button>
  
  <%= button_to "Destroy this tweet", @tweet, method: :delete %>
</div>
